.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
    background-color: #666666;
    color: #f8f7ff;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.block {
    display: block;
    width: 100%;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
}

.top-right-menu {
    position: absolute;
    top: 5px;
    right: 5px;
    color: rgb(37, 37, 37);
    text-decoration: none;
    background-color: none;
    margin: 10px;
}

.grad1 {
    background-image: linear-gradient(#f6dffc, #e9e5fe, rgb(216, 216, 216), white);
}

a.black-text {
    color: black;
    padding: 10px;
}