<div class="grid-container">
    <a href="https://airkm.datascience.cmu.ac.th/">
        <img src="assets/image/banner.png" width="300" height="100">
    </a>
</div>
<div class="grid-container">
    <div class="">
        <h1>ติดต่อผู้เชี่ยวชาญ</h1>
    </div>
    <mat-grid-list cols="4" rowHeight="800">
        <mat-grid-tile [colspan]="4" [rowspan]="1">
            <mat-card class="dashboard-card">
                <mat-card-content class="dashboard-card-content">
                    <mat-grid-list cols="4" rowHeight="210px">
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-card class="dashboard-card">
                                <mat-card-content>
                                    <h5>ผศ.ดร.สมพร จันทระ</h5>
                                    <h6>ภาควิชาเคมี คณะวิทยาศาสตร์ มหาวิทยาลัยเชียงใหม่</h6>
                                    <h6>หัวหน้าศูนย์วิจัยวิทยาศาสตร์สิ่งแวดล้อม</h6>
                                    Email: <a href="mailto: somporn.chantara@cmu.ac.th">somporn.chantara@cmu.ac.th</a>
                                    <br>โทร 053-943341
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-card class="dashboard-card">
                                <mat-card-content>
                                    <h5>ผศ.ดร.ว่าน วิริยา</h5>
                                    <h6>ภาควิชาเคมี คณะวิทยาศาสตร์ มหาวิทยาลัยเชียงใหม่</h6>
                                    <h6>ผู้ช่วยหัวหน้าศูนย์วิจัยวิทยาศาสตร์สิ่งแวดล้อม ฝ่ายกิจกรรมสัมพันธ์</h6>
                                    Email: <a href="mailto: wan.w@cmu.ac.th">wan.w@cmu.ac.th</a>
                                    <br>โทร 053-943341
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-card class="dashboard-card">
                                <mat-card-content>
                                    <h5>ศ.นพ.ชายชาญ โพธิรัตน์</h5>
                                    <h6>ศาสตราจารย์ ภาควิชาอายุรศาสตร์ คณะแพทยศาสตร์ มหาวิทยาลัยเชียงใหม่ </h6>
                                    Email: <a href="mailto: chaicharn.p@cmu.ac.th">chaicharn.p@cmu.ac.th</a>
                                    <br>โทร 053-936396
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-card class="dashboard-card">
                                <mat-card-content>
                                    <h5>นพ.ธรณี กายี</h5>
                                    <h6>-</h6>
                                    <h6>-</h6>
                                    Email: <a href="mailto: ">-</a>
                                    <br>โทร -
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-card-content>
                <mat-card-content class="dashboard-card-content">
                    <mat-grid-list cols="4" rowHeight="210px">
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-card class="dashboard-card">
                                <mat-card-content>
                                    <h5>ผศ.ดร.ยศธนา คุณาทร</h5>
                                    <h6>ผู้ช่วยศาสตราจารย์ ภาควิชาเครื่องกล คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเชียงใหม่</h6>
                                    Email: <a href="mailto: piakman@dome.eng.cmu.ac.th">piakman@dome.eng.cmu.ac.th</a>
                                    <br>โทร 053-944146-970
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-card class="dashboard-card">
                                <mat-card-content>
                                    <h5>รศ.ดร.เศรษฐ์ สัมภัตตะกุล</h5>
                                    <h6>รองศาสตราจารย์ ภาควิชาวิศวกรรมอุตสาหการ คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเชียงใหม่</h6>
                                    Email: <a href="mailto: sate@eng.cmu.ac.th">sate@eng.cmu.ac.th</a>
                                    <br>โทร 053-942086
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-card class="dashboard-card">
                                <mat-card-content>
                                    <h5>รศ.ดร.พานิช อินต๊ะ</h5>
                                    <h6>อาจารย์ วิทยาลัยเทคโนโลยีและสหวิทยาการ มหาวิทยาลัยเทคโนโลยีราชมงคลล้านนา</h6>
                                    <h6>หัวหน้าหน่วยวิจัยสนามไฟฟ้า RUEE </h6>
                                    Email: <a href="mailto: panich.intra@hotmail.com">panich.intra@hotmail.com</a>
                                    <br>โทร 053-942074
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-card class="dashboard-card">
                                <mat-card-content>
                                    <h5>ผศ.ดร.ภาสกร แช่มประเสริฐ</h5>
                                    <h6>ผู้ช่วยศาสตราจารย์ ภาควิชาวิศวกรรมคอมพิวเตอร์ คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเชียงใหม่</h6>
                                    Email: <a href="mailto: paskorn@eng.cmu.ac.th">paskorn@eng.cmu.ac.th</a>
                                    <br>โทร 053-942074
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-card-content>
                <mat-card-content class="dashboard-card-content">
                    <mat-grid-list cols="4" rowHeight="210px">
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-card class="dashboard-card">
                                <mat-card-content>
                                    <h5>ผศ.ดร.ยุทธพงษ์ สมจิต</h5>
                                    <h6>ผู้ช่วยศาสตราจารย์ ภาควิชาวิศวกรรมคอมพิวเตอร์ คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเชียงใหม่</h6>
                                    Email: <a href="mailto: yuthapong@eng.cmu.ac.th">yuthapong@eng.cmu.ac.th</a>
                                    <br>โทร 053-942024-218
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-card class="dashboard-card">
                                <mat-card-content>
                                    <h5>คุณวีระชัย เจือสันติกุลชัย</h5>
                                    <h6>กรรมการผู้จัดการ บริษัท เพอร์เฟกท์ ฮาร์โมนี อินเตอร์เนชันแนล จำกัด</h6>
                                    Email: <a href="mailto: weerachai@perfectharmony.co.th">weerachai@perfectharmony.co.th</a>
                                    <br>โทร 053-202950
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>