<div class="grid-container">
    <a href="https://airkm.datascience.cmu.ac.th/">
        <img src="assets/image/banner.png" width="300" height="100">
    </a>
</div>
<div class="grid-container">
    <div class="">
        <h1 class="sansserif">สภาพอากาศ</h1>
    </div>
    <!-- AQI Index Card -->
    <mat-grid-list cols="9" rowHeight="470px">
        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <mat-card class="dashboard-card">
                <mat-card-header [ngClass]="currentCardHeadColor">
                    <mat-button-toggle-group class="btn-magin" name="fontStyle" aria-label="Font Style">
                        <mat-button-toggle [ngClass]="currentCardBodyColor" (click)="OnClickSource(3)">AQICN</mat-button-toggle>
                        <mat-button-toggle [ngClass]="currentCardBodyColor" (click)="OnClickSource(1)">CMAQI</mat-button-toggle>
                        <mat-button-toggle [ngClass]="currentCardBodyColor" (click)="OnClickSource(2)">IQAir</mat-button-toggle>
                    </mat-button-toggle-group>
                </mat-card-header>
                <mat-card-content [ngClass]="currentCardBodyColor">
                    <br><br>
                    <div>
                        <h2>คุณภาพอากาศวันนี้</h2>
                    </div>
                    <div>
                        <h2 [ngClass]="currentCardTxtColor">{{currentAQI}}</h2>
                    </div>
                    <br>
                </mat-card-content>
                <mat-card-footer class="dashboard-card-footer">
                    <div>
                        <h5 [ngClass]="currentCardFooterColor">{{currentLevel}}</h5>
                    </div>
                    <div class="text-left">
                        {{currentDescribtion}}
                    </div>
                </mat-card-footer>
            </mat-card>
        </mat-grid-tile>
        <!-- Compound Card-->
        <mat-grid-tile [colspan]="6" [rowspan]="1">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        <br>
                        <div>
                            <h3>ค่ามลพิษในอากาศ</h3>
                        </div>
                        <i><h6>*ค่าจาก AQICN</h6></i>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <mat-card-content class="dashboard-card-content">
                        <mat-grid-list cols="6" rowHeight="170px">
                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <mat-card class="dashboard-card-circle gray-bg">
                                    <mat-card-content class="dashboard-card-content">
                                        <a href="https://airkm-admin.datascience.cmu.ac.th/NO2" target="_blank">
                                            <h4>NO2</h4>
                                        </a>ไนโตรเจนไดออกไซด์
                                        <h2> {{no2}} </h2> ppb
                                    </mat-card-content>
                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <mat-card class="dashboard-card-circle gray-bg">
                                    <mat-card-content class="dashboard-card-content">
                                        <a href="https://airkm-admin.datascience.cmu.ac.th/SO2" target="_blank">
                                            <h4>SO2</h4>
                                        </a>ซัลเฟอร์ไดออกไซด์
                                        <h2> {{so2}} </h2> ppb
                                    </mat-card-content>
                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <mat-card class="dashboard-card-circle gray-bg">
                                    <mat-card-content class="dashboard-card-content">
                                        <a href="https://airkm-admin.datascience.cmu.ac.th/O3" target="_blank">
                                            <h4>O3</h4>
                                        </a>โอโซน
                                        <h2>{{o3}}</h2>ppb
                                    </mat-card-content>
                                </mat-card>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card-content>
                    <mat-card-content class="dashboard-card-content">
                        <mat-grid-list cols="6" rowHeight="170px">
                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <mat-card class="dashboard-card-circle gray-bg">
                                    <mat-card-content class="dashboard-card-content">
                                        <a href="https://airkm-admin.datascience.cmu.ac.th/CarbonMonoxide" target="_blank">
                                            <h4>CO</h4>
                                        </a>คาร์บอนมอนออกไซด์
                                        <h2> {{co}} </h2> ppm
                                    </mat-card-content>
                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <mat-card class="dashboard-card-circle gray-bg">
                                    <mat-card-content class="dashboard-card-content">
                                        <a href="https://airkm-admin.datascience.cmu.ac.th/PM10" target="_blank">
                                            <h4>PM10</h4>
                                        </a>ฝุ่นขนาดไม่เกิน 10 ไมครอน
                                        <h2> {{pm10}} </h2> ug/m3
                                    </mat-card-content>
                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <mat-card class="dashboard-card-circle gray-bg">
                                    <mat-card-content class="dashboard-card-content">
                                        <a href="https://airkm-admin.datascience.cmu.ac.th/PM2-5" target="_blank">
                                            <h4>PM2.5</h4>
                                        </a>ฝุ่นขนาดไม่เกิน 2.5 ไมครอน
                                        <h2> {{pm25}} </h2> ug/m3
                                    </mat-card-content>
                                </mat-card>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card-content>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <!-- Weather -->
    <mat-grid-list cols="9" rowHeight="400px">
        <mat-grid-tile [colspan]="9" [rowspan]="1">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        <h2>สภาพอากาศ</h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <mat-grid-list cols="9" rowHeight="150px" class="right-line">
                        <mat-grid-tile [colspan]="3" [rowspan]="2">
                            <mat-card-content class="dashboard-card-content ">
                                <h4>อุณหภูมิ</h4>
                                <h1 class="green-font"> {{temp}} </h1> องศาเซลเซียส (C) <br> สูงสุด
                                <h5 class="red-text-no-margin-btm">{{maxTemp}}</h5>
                                ต่ำสุด
                                <h5 class="blue-text-no-margin-btm">{{minTemp}}</h5>
                            </mat-card-content>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="6" [rowspan]="1">
                            <mat-card class="dashboard-card">
                                <mat-card-content class="dashboard-card-content">{{sky}}</mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1" class="gray-bg">
                            <mat-card-content>
                                <h4>ความชื้น</h4>
                                <h2>{{humidity}}</h2> เปอร์เซ็นต์ (%)
                            </mat-card-content>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1" class="gray-bg">
                            <mat-card-content>
                                <h4>ความกดอากาศ </h4>
                                <h2>{{pressure}}</h2> มิลลิบาร์ (mb)
                            </mat-card-content>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1" class="gray-bg">
                            <mat-card-content>
                                <h4>ปริมาณน้ำฝน </h4>
                                <h2>{{rain}}</h2> มิลลิเมตร (mm)
                            </mat-card-content>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <!-- Map
    <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map> -->
</div>