<div class="grid-container">
  <h1 class="mat-h1">สภาพอากาศ</h1>
  <!-- AQI Index Card -->
  <mat-grid-list cols="9" rowHeight="450px">
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="bold" (click)="OnClickSource(1)">CMAQI</mat-button-toggle>
            <mat-button-toggle value="italic" (click)="OnClickSource(2)">IQAir</mat-button-toggle>
            <mat-button-toggle value="underline"(click)="OnClickSource(3)">AQICN</mat-button-toggle>
          </mat-button-toggle-group>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div><h2>คุณภาพอากาศวันนี้</h2></div>
          <div><h2>{{currentAQI}}</h2></div>
        </mat-card-content>
        <mat-card-footer>
          <div><h2>{{currentLevel}}</h2></div>
          <div><h4>{{currentDescribtion}}</h4></div>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  <!-- Compound Card-->
    <mat-grid-tile [colspan]="6" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <div><h3>ค่ามลพิษในอากาศ</h3></div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-card-content class="dashboard-card-content">
            <mat-grid-list cols="6" rowHeight="150px">
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-card class="dashboard-card">
                  <mat-card-content class="dashboard-card-content">1</mat-card-content>
                </mat-card>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-card class="dashboard-card">
                  <mat-card-content class="dashboard-card-content">2</mat-card-content>
                </mat-card>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-card class="dashboard-card">
                  <mat-card-content class="dashboard-card-content">3</mat-card-content>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card-content>
          <mat-card-content class="dashboard-card-content">
            <mat-grid-list cols="6" rowHeight="150px">
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-card class="dashboard-card">
                  <mat-card-content class="dashboard-card-content">1</mat-card-content>
                </mat-card>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-card class="dashboard-card">
                  <mat-card-content class="dashboard-card-content">2</mat-card-content>
                </mat-card>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-card class="dashboard-card">
                  <mat-card-content class="dashboard-card-content">3</mat-card-content>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card-content>
        </mat-card-content>
        <mat-card-actions><a mat-raised-button href="{{moreDetailLink}}" target="_blank">อ่านเพิ่มเติม</a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- Weather -->
  <mat-grid-list cols="9" rowHeight="450px">
    <mat-grid-tile [colspan]="9" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h2>สภาพอากาศ</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-grid-list cols="9" rowHeight="150px">
            <mat-grid-tile [colspan]="3" [rowspan]="2">
              <mat-card class="dashboard-card">
                <mat-card-content class="dashboard-card-content">1</mat-card-content>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="6" [rowspan]="1">
              <mat-card class="dashboard-card">
                <mat-card-content class="dashboard-card-content">2</mat-card-content>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="6" [rowspan]="1">
              <mat-card class="dashboard-card">
                <mat-card-content class="dashboard-card-content">3</mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- Weahter card -->
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>

  <!-- <mat-grid-list cols="4" rowHeight="450">
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h2>สภาพอากาศ</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-grid-list cols="4" rowHeight="150px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-card class="dashboard-card">
                <mat-card-content class="dashboard-card-content">1</mat-card-content>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-card class="dashboard-card">
                <mat-card-content class="dashboard-card-content">2</mat-card-content>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-card class="dashboard-card">
                <mat-card-content class="dashboard-card-content">3</mat-card-content>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-card class="dashboard-card">
                <mat-card-content class="dashboard-card-content">4</mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
        <mat-card-content class="dashboard-card-content">
          <mat-grid-list cols="4" rowHeight="150px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-card class="dashboard-card">
                <mat-card-content class="dashboard-card-content">1</mat-card-content>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3" [rowspan]="1">
              <mat-card class="dashboard-card">
                <mat-card-content class="dashboard-card-content">2</mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list> -->
</div>
