.grid-container {
    margin: 20px;
}

.grad1 {
    height: 200px;
    background-image: linear-gradient(pink, white);
}

h2 {
    margin: 10px;
}

.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dashboard-card-content {
    text-align: center;
}

.dashboard-card-footer {
    position: absolute;
    left: 30px;
    text-align: left;
}

p span {
    display: block;
}

.mat-card {
    padding: 0px;
}

.mat-card-content {
    margin-bottom: 10px;
}

.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

.red-header-card {
    left: 20px;
    background-color: #9f4f48;
}

.red-body-card {
    background-color: #efdfdf;
}

.red-font {
    margin: 10px 10px 10px 10px;
    color: #a9615a;
}

.btn-red {
    color: #000000;
    background-color: #efdfdf;
}

.btn-magin {
    margin: 10px 10px 10px 10px;
}

.text-red-no-margin-btm {
    margin: 10px 10px 0px 10px;
    color: #a9615a;
}

.text-left {
    margin-left: 10px;
}

div.a {
    font-size: 50px;
}

div.b {
    font-size: 15px;
    margin: 10px 0;
}

.red-text-bg {
    color: #9f514c;
    background-color: #f2dedc;
    font-size: 60px;
}